@import './common/normalize.styl'

.scrollable {
    -webkit-overflow-scrolling: touch;
}

$highlight-color := #6670B1;
$backgeound-color := #ECF0EE;
$text-color := rgba(#1A1A2C, .8);

html, body {
    height: 100%
}
:root {
    background-color: $backgeound-color;
}

@import './components/main.styl'

