
.container {
    width: 100vw;
    height: calc(100% + 0px);
    display: flex;
    flex-direction: column;
}
.ZoomableImage {
    flex: 1;
}
.left-enter-active, .left-leave-active,
.right-enter-active, .right-leave-active {
  transition: transform .2s cubic-bezier(.45,0,.21,1), opacity .2s cubic-bezier(.45,0,.21,1);
}
.left-enter, .left-leave-to,
.right-enter, .right-leave-to {
  opacity: 0;
}
.left-enter, .left-leave-to {
  transform: translateX(-30%)
}
.right-enter, .right-leave-to {
  transform: translateX(30%)
}

ZoomableImage .animate {
    transition: transform .1s ease-in-out;
}
.ZoomableImage {
    overflow: hidden;
    position: relative;
    z-index: 5
}
.ZoomableImage img {
    position: relative;
    backface-visibility: hidden;
    pointer-events: none;
    width: 100%;
    transform-origin: 0 0;
    will-change: transform;
    z-index: 5
}

.ChatView {
    position: relative;
    height: 2.5rem;
.historyToggle {
        position: absolute;
        z-index: 150;
        background: $highlight-color;
        width: 1rem;
        height: 1rem;
        top: .75rem;
        right: .75rem;
        border-radius: 50%;
}
.messages {
        background-color: $backgeound-color;
        position: absolute;
        z-index: 100;
        width: 100%;
        max-height: 50vh;
        overflow: scroll;
}
input.message {
        background-color: $backgeound-color;
        border-radius: 0;
}
.message {
        width: 100%;
        font-size: 1rem;
        line-height: 1.5;
        color: $text-color;
        padding: .5rem;
        display: block;
}
}
