
html, body {
    height: 100%;
}
.container {
    width: 100vw;
    height: calc(100% - 0px);
    display: flex;
    flex-direction: column
}
.ZoomableImage {
    flex: 1;
}
.message {
    background: #000;
    width: 100%;
    font-size: 30px;
    color: #fff;
    padding: 20px;
    position: sticky;
    top: 0;
    display: block;
    position: relative;
    z-index: 100;
}

ZoomableImage .animate {
    transition: transform .1s ease-in-out;
}
.ZoomableImage {
    overflow: hidden;
    position: relative;
    z-index: 5
}
.ZoomableImage img {
    position: relative;
    backface-visibility: hidden;
    pointer-events: none;
    width: 100%;
    transform-origin: 0 0;
    will-change: transform;
    z-index: 5
}
