













































































































.fade-enter-active, .fade-leave-active {
  transition: opacity .3s ease;
}

.fade-enter, .fade-leave-to
/* .component-fade-leave-active for <2.1.8 */ {
  opacity: 0;
}

.container {
    display: flex;
    width: 100vw;
    backface-visibility: hidden;
}

.animate {
    transition: transform .25s cubic-bezier(0.25, 0, 1, 1);
}

.page {
    width: 100%;
    flex-shrink: 0;
    position: absolute;
    backface-visibility: hidden;
    will-change: transform;
}

img {
    backface-visibility: hidden;
    pointer-events: none;
    width: 100%;
}

.page.previous,
.page.current {
    box-shadow: 5px 0 20px rgba(0, 0, 0, .5), 20px 0 100px rgba(0, 0, 0, .2)
}

.page.previous {
    left: -100%;
    z-index: 3
}

.page.current {
    z-index: 2
}

.page.next {
    z-index: 1
}

