





























































.container {
    width: 100vw;
    backface-visibility: hidden;
}

.animate {
    transition: transform .25s cubic-bezier(0.25, 0, 1, 1);
}

.page {
    width: 100%;
    backface-visibility: hidden;
    will-change: transform;
}

img {
    backface-visibility: hidden;
    pointer-events: none;
    width: 100%;
}

.message {
    background: #000;
    width: 100%;
    font-size: 30px;
    color: #fff;
    padding: 20px;
}


